<launch>

  <arg name="laser_enabled" default="false"/>
  <arg name="kinect_enabled" default="false"/>
  <arg name="urdf_extras" default="$(find husky)/urdf/velodyned.husky.xacro"/>


  <include file="$(find bir_cimatec4_map)/launch/gazebo.launch" />

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="urdf_extras" value="$(arg urdf_extras)"/>
  </include>

  <!-- <include file="$(find husky)/launch/teleop.husky.launch" /> -->
  <include file="$(find husky)/launch/rviz.husky.launch" />
  <!-- <include file="$(find husky)/launch/aloam.husky.launch" /> -->
  <include file="$(find husky)/launch/pc2ls.husky.launch" />


  <include file="$(find husky_navigation)/launch/move_base.launch">
    <arg name="no_static_map" value="true"/>
  </include>

  <include file="$(find husky)/launch/gmapping.husky.launch" />

  <include file="$(find husky)/launch/nav2d.husky.launch" />

</launch>